trigger:
  - main

variables:
- group: backend-vars

pool:
  vmImage: 'ubuntu-latest'

steps:
  - checkout: self

  # Instalar SAM CLI (solo una vez por job)
  - script: |
      curl -Lo aws-sam-cli.zip https://github.com/aws/aws-sam-cli/releases/latest/download/aws-sam-cli-linux-x86_64.zip
      unzip aws-sam-cli.zip -d sam-installation
      sudo ./sam-installation/install
      sam --version
    displayName: 'Instalar AWS SAM CLI'

  # Build + Deploy usando credenciales de la Service Connection
  - task: AWSShellScript@1
    displayName: 'SAM Build & Deploy'
    inputs:
      awsCredentials: 'aws-reto-cloud-SantiagoG'
      regionName: 'us-east-1'
      scriptType: 'inline'          # <-- AQUÍ EL CAMBIO CLAVE
      inlineScript: |
        set -e

        echo "PWD:"
        pwd
        echo "Contenido del repo:"
        ls

        # ya estás en la raíz del repo (donde está template.yaml)
        sam build

        sam deploy \
          --stack-name reto-cloud-backend \
          --region us-east-1 \
          --no-confirm-changeset \
          --resolve-s3 \
          --capabilities CAPABILITY_IAM \
          --parameter-overrides \
            DbHost=${DB_HOST} \
            DbUser=${DB_USER} \
            DbPassword=${DB_PASSWORD} \
            DbName=${DB_NAME} \
            DbPort=${DB_PORT} \
            PrivateSubnet1=${PRIVATE_SUBNET_1} \
            PrivateSubnet2=${PRIVATE_SUBNET_2} \
            LambdaSecurityGroup=${LAMBDA_SG}
