trigger:
  - main

variables:
- group: backend-vars  

pool:
  vmImage: 'ubuntu-latest'

steps:
  - checkout: self

  - script: |
      set -ex

      if command -v sam >/dev/null 2>&1; then
        echo "SAM CLI ya está instalado:"
        sam --version
      else
        echo "Instalando AWS SAM CLI..."
        curl -Lo aws-sam-cli.zip https://github.com/aws/aws-sam-cli/releases/latest/download/aws-sam-cli-linux-x86_64.zip
        unzip aws-sam-cli.zip -d sam-installation
        sudo ./sam-installation/install --update
        sam --version
      fi
    displayName: 'Verificar / Instalar AWS SAM CLI'

  - task: AWSShellScript@1
    displayName: 'SAM Build & Deploy'
    inputs:
      awsCredentials: 'aws-reto-cloud-SantiagoG'
      regionName: 'us-east-1'
      scriptType: 'inline'
      inlineScript: |
        set -ex

        echo "PWD:"
        pwd
        echo "Contenido de la raíz:"
        ls -la

        if [ ! -f template.yaml ]; then
          echo "ERROR: No se encontró template.yaml en esta carpeta"
          exit 1
        fi

        echo "Instalando dependencias Node..."
        npm ci

        echo "Ejecutando sam build..."
        sam build -t template.yaml

        echo "Ejecutando sam deploy..."
        sam deploy \
          -t template.yaml \
          --stack-name reto-cloud-backend \
          --region us-east-1 \
          --no-confirm-changeset \
          --resolve-s3 \
          --capabilities CAPABILITY_IAM \
          --parameter-overrides \
            DbSecretArn=$(DB_SECRET_ARN) \
            PrivateSubnet1=$(PRIVATE_SUBNET_1) \
            PrivateSubnet2=$(PRIVATE_SUBNET_2) \
            LambdaSecurityGroup=$(LAMBDA_SG)