trigger:
  - main

variables:
- group: backend-vars

pool:
  vmImage: 'ubuntu-latest'

steps:
  - checkout: self

  - task: AWSCLI@1
    displayName: 'Configurar AWS CLI desde Service Connection'
    inputs:
      awsCredentials: 'aws-reto-cloud-SantiagoG'
      regionName: 'us-east-1'
      awsCommand: 'sts'
      awsSubCommand: 'get-caller-identity'
      awsArguments: ''

  - script: |
      curl -Lo aws-sam-cli.zip https://github.com/aws/aws-sam-cli/releases/latest/download/aws-sam-cli-linux-x86_64.zip
      unzip aws-sam-cli.zip -d sam-installation
      sudo ./sam-installation/install
      sam --version
      ls
    displayName: 'Instalar AWS SAM CLI'
    workingDirectory: $(System.DefaultWorkingDirectory)

  - script: |
      sam build
    displayName: 'SAM Build'
    workingDirectory: $(System.DefaultWorkingDirectory)

  - script: |
      sam deploy \
        --stack-name reto-cloud-backend \
        --region us-east-1 \
        --no-confirm-changeset \
        --resolve-s3 \
        --capabilities CAPABILITY_IAM \
        --parameter-overrides \
          DbHost=$(DB_HOST) \
          DbUser=$(DB_USER) \
          DbPassword=$(DB_PASSWORD) \
          DbName=$(DB_NAME) \
          DbPort=$(DB_PORT) \
          PrivateSubnet1=$(PRIVATE_SUBNET_1) \
          PrivateSubnet2=$(PRIVATE_SUBNET_2) \
          LambdaSecurityGroup=$(LAMBDA_SG)
    displayName: 'SAM Deploy'
    workingDirectory: $(System.DefaultWorkingDirectory)
